.DS_Store
.springBeans
*.log
*.bak
bin/
classes/
target/

# Eclipse
.settings
.classpath
.project
spring-*/src/main/java/META-INF/MANIFEST.MF

# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
out/
test-output/
atlassian-ide-plugin.xml
.gradletasknamecache

rebel.xml
rebel-remote.xml

